.version.home_pt /* version checker */
{
	color: #000000;
	background-color: #692F08;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1080.7903032394515px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu2010
{
	width: 0.01px;
	margin-left: 50px;
}

#u2010
{
	z-index: 121;
	width: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1978-5
{
	z-index: 114;
	width: 421px;
	min-height: 34px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	letter-spacing: 15px;
	line-height: 26px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 29px;
}

#u1978-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1978
{
	font-size: 20px;
	letter-spacing: 11px;
	color: #F15A24;
	line-height: 24px;
}

#u1978-2
{
	font-size: 20px;
	letter-spacing: 11px;
	line-height: 24px;
}

#u1981
{
	z-index: 110;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 850px;
}

#u1981_img
{
	padding-bottom: 10px;
}

#u2007
{
	z-index: 112;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 911px;
}

#u2007_img
{
	padding-bottom: 18px;
}

#u1983
{
	z-index: 119;
	width: 21px;
	background-color: transparent;
	position: fixed;
	top: 22px;
	left: 365px;
}

#pu1971
{
	width: 0.01px;
	margin-left: -100px;
}

#u1971
{
	z-index: 15;
	min-height: 562.65px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	padding-bottom: 0px;
}

#u1971_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 19px;
	padding-bottom: 230px;
}

#u1970-4
{
	z-index: 16;
	width: 369px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	line-height: 71px;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 120px;
	position: relative;
}

#u1968
{
	z-index: 20;
	width: 130px;
	background-color: transparent;
	left: 153px;
	margin-top: 113px;
	position: relative;
}

#u1971-bw
{
	z-index: 15;
	min-height: 562.65px;
	margin-top: 699px;
}

#u1946
{
	z-index: 22;
	width: 575px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	left: 145px;
}

#pamphletu1947
{
	z-index: 23;
	width: 0.01px;
	height: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 7px;
}

#u1948
{
	position: absolute;
	width: 575px;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -375px;
	left: -7px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1948popup
{
	z-index: 24;
}

#u1949
{
	z-index: 25;
	width: 531px;
	height: 322px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1953
{
	z-index: 26;
	width: 461px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	padding: 42px 28px 44px 34px;
}

.Tooltip-Rollover
{
	-pie-box-shadow: 3px 3px 8px #BFBFBF;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
	border-width: 1px;
	border-style: solid;
	border-color: #DFDFDF;
	background-color: #FFFFFF;
}

#u1950
{
	z-index: 27;
	width: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1951-4
{
	z-index: 28;
	width: 389px;
	min-height: 31px;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 35px;
	color: #F15A24;
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1952-6
{
	z-index: 32;
	width: 461px;
	min-height: 82px;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 27px;
	font-size: 18px;
	margin-top: 30px;
	position: relative;
}

#u1963
{
	z-index: 38;
	width: 133px;
	position: relative;
	margin-right: -10000px;
}

#u1964
{
	position: absolute;
	width: 133px;
	height: 132px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1966
{
	z-index: 40;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 909px;
	left: 363px;
}

#u1927
{
	z-index: 42;
	width: 579px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	left: 351px;
}

#pamphletu1928
{
	z-index: 43;
	width: 0.01px;
	height: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
}

#u1933
{
	position: absolute;
	width: 575px;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -374px;
	left: 4px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1933popup
{
	z-index: 44;
}

#u1934
{
	z-index: 45;
	width: 531px;
	height: 376px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1936
{
	z-index: 46;
	width: 461px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	padding: 42px 28px 44px 34px;
}

#u1937
{
	z-index: 47;
	width: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1938-4
{
	z-index: 48;
	width: 389px;
	min-height: 31px;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 35px;
	color: #F15A24;
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1935-7
{
	z-index: 52;
	width: 461px;
	min-height: 82px;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 27px;
	font-size: 18px;
	margin-top: 30px;
	position: relative;
}

#u1931
{
	z-index: 59;
	width: 133px;
	position: relative;
	margin-right: -10000px;
}

#u1932
{
	position: absolute;
	width: 133px;
	height: 132px;
}

#u1965-4
{
	z-index: 61;
	width: 359px;
	min-height: 66px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 807px;
	left: 120px;
}

#u1907
{
	z-index: 65;
	min-height: 712.6500000000002px;
	border-width: 1px;
	border-style: solid;
	border-color: #13A5FF;
	padding-bottom: 0px;
	background: #000000 url("../images/mac.jpg") no-repeat center center;
	background-size: cover;
}

#u1907_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1019px;
	position: relative;
	left: -100px;
	padding-top: 12px;
	padding-bottom: 85px;
}

#u1908
{
	z-index: 84;
	width: 229px;
	background-color: transparent;
	left: 493px;
	position: relative;
}

#u1910-4
{
	z-index: 80;
	width: 980px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 119px;
	margin-top: 30px;
	position: relative;
}

#u1911-6
{
	z-index: 70;
	width: 575px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 29px;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 242px;
	margin-top: 30px;
	position: relative;
}

#u1911-2
{
	text-transform: uppercase;
}

#u1912-4
{
	z-index: 76;
	width: 175px;
	min-height: 35px;
	background-color: #F15A24;
	border-radius: 30px 0px 30px 0px ;
	padding-top: 5px;
	color: #FFFFFF;
	text-align: center;
	line-height: 29px;
	text-transform: uppercase;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 520px;
	margin-top: 86px;
	position: relative;
}

#u1912-4:hover
{
	background-color: #000000;
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 175px;
	margin: 86px 0px 0px;
}

#u1907-bw
{
	z-index: 65;
	min-height: 712.6500000000002px;
}

#u1913-4
{
	z-index: 66;
	width: 309px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	line-height: 71px;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 717px;
	left: 489px;
}

#u1985
{
	z-index: 86;
	width: 422px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 463px;
	left: 798px;
}

#u1986
{
	z-index: 87;
	width: 422px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1995
{
	z-index: 88;
	width: 422px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1987
{
	z-index: 90;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 60px;
}

#u1989
{
	z-index: 92;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 298px;
}

#u1997
{
	z-index: 94;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 142px;
}

#u1993
{
	z-index: 96;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 142px;
}

#u1991
{
	z-index: 98;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 298px;
}

#u1999
{
	z-index: 100;
	width: 44px;
	height: 47px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 67px;
}

#u2012
{
	z-index: 101;
	width: 68px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1081px;
	left: 930px;
}

#u1980
{
	z-index: 102;
	width: 75px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1081px;
	left: 1008px;
}

#u1979
{
	z-index: 103;
	width: 63px;
	height: 20px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 975px;
}

#u2009
{
	z-index: 104;
	width: 61px;
	height: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
	left: 1014px;
}

#u1916
{
	z-index: 2;
	width: 678px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 204px;
	margin-top: 13px;
	position: relative;
}

#u1922
{
	z-index: 3;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 239px;
	position: relative;
}

#u1923
{
	z-index: 4;
	width: 80px;
	height: 1px;
	background-color: #020000;
	margin-left: 60px;
	position: relative;
}

#u1924
{
	z-index: 5;
	width: 120px;
	height: 1px;
	background-color: #020000;
	margin-left: 40px;
	margin-top: 7px;
	position: relative;
}

#u1925
{
	z-index: 6;
	width: 200px;
	height: 1px;
	background-color: #020000;
	margin-top: 8px;
	position: relative;
}

#u1921-4
{
	z-index: 11;
	width: 678px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1917
{
	z-index: 7;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 239px;
	position: relative;
}

#u1920
{
	z-index: 10;
	width: 200px;
	height: 1px;
	background-color: #0F0500;
	-webkit-transform: matrix(-1,0,0,-1,200,1);
	-ms-transform: matrix(-1,0,0,-1,200,1);
	transform: matrix(-1,0,0,-1,200,1);
	position: relative;
}

#u1919
{
	z-index: 9;
	width: 120px;
	height: 1px;
	background-color: #0F0500;
	-webkit-transform: matrix(-1,0,0,-1,120,1);
	-ms-transform: matrix(-1,0,0,-1,120,1);
	transform: matrix(-1,0,0,-1,120,1);
	margin-left: 40px;
	margin-top: 7px;
	position: relative;
}

#u1918
{
	z-index: 8;
	width: 80px;
	height: 1px;
	background-color: #0F0500;
	-webkit-transform: matrix(-1,0,0,-1,80,1);
	-ms-transform: matrix(-1,0,0,-1,80,1);
	transform: matrix(-1,0,0,-1,80,1);
	margin-left: 60px;
	margin-top: 8px;
	position: relative;
}

#u2000
{
	z-index: 105;
	width: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 755px;
	top: -754px;
	margin-bottom: -78px;
	position: relative;
}

#u2006
{
	z-index: 106;
	width: 65px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1964,.ie #u1932,.ie #u2012,.ie #u1980,.ie #u2009,.ie #u2006
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2001
{
	z-index: 107;
	width: 57px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#u2002
{
	z-index: 108;
	width: 42px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 29px;
	text-align: center;
	line-height: 35px;
	font-family: Adobe Myungjo Std M;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u2004
{
	z-index: 109;
	width: 57px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF0000;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Adobe Myungjo Std M;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

