.version.home_pt /* version checker */
{
	color: #0000F8;
	background-color: #4157C5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1080.7903032394515px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu1868
{
	width: 0.01px;
	margin-left: 50px;
}

#u1868
{
	z-index: 112;
	width: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1881-5
{
	z-index: 105;
	width: 421px;
	min-height: 34px;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	text-align: left;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 29px;
}

#u1881-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1881
{
	font-size: 20px;
	letter-spacing: 11px;
	color: #F15A24;
	line-height: 24px;
}

#u1881-2
{
	font-size: 20px;
	letter-spacing: 11px;
	line-height: 24px;
}

#u1879
{
	z-index: 101;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 850px;
}

#u1879_img
{
	padding-bottom: 10px;
}

#u1877
{
	z-index: 103;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 911px;
}

#u1877_img
{
	padding-bottom: 18px;
}

#u1851
{
	z-index: 110;
	width: 21px;
	background-color: transparent;
	position: fixed;
	top: 22px;
	left: 365px;
}

#pu1780
{
	width: 0.01px;
	margin-left: -100px;
}

#u1780
{
	z-index: 15;
	min-height: 562.55px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	padding-bottom: 0px;
}

#u1780_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 18px;
	padding-bottom: 322px;
}

#u1779-4
{
	z-index: 16;
	width: 369px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 71px;
	text-align: right;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 120px;
	position: relative;
}

#u1800
{
	z-index: 20;
	width: 130px;
	background-color: transparent;
	left: 148px;
	margin-top: 21px;
	position: relative;
}

#u1780-bw
{
	z-index: 15;
	min-height: 562.55px;
	margin-top: 699px;
}

#u1781
{
	z-index: 22;
	width: 575px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	left: 145px;
}

#pamphletu1782
{
	z-index: 23;
	width: 0.01px;
	height: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
}

#u1783
{
	position: absolute;
	width: 575px;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -281px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1783popup
{
	z-index: 24;
}

#u1784
{
	z-index: 25;
	width: 531px;
	height: 242px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1788
{
	z-index: 26;
	width: 461px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	padding: 42px 28px 44px 34px;
}

.Tooltip-Rollover
{
	-pie-box-shadow: 3px 3px 8px #BFBFBF;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
	border-width: 1px;
	border-style: solid;
	border-color: #DFDFDF;
	background-color: #FFFFFF;
}

#u1785
{
	z-index: 27;
	width: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1786-4
{
	z-index: 28;
	width: 389px;
	min-height: 31px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #F15A24;
	line-height: 35px;
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1787-4
{
	z-index: 32;
	width: 461px;
	min-height: 82px;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 27px;
	font-size: 18px;
	margin-top: 30px;
	position: relative;
}

#u1796
{
	z-index: 36;
	width: 133px;
	position: relative;
	margin-right: -10000px;
}

#u1797
{
	position: absolute;
	width: 133px;
	height: 132px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1802
{
	z-index: 38;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 817px;
	left: 358px;
}

#u1804
{
	z-index: 40;
	width: 580px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
	left: 350px;
}

#pamphletu1805
{
	z-index: 41;
	width: 0.01px;
	height: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
}

#u1817
{
	position: absolute;
	width: 575px;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -281px;
	left: 5px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1817popup
{
	z-index: 42;
}

#u1818
{
	z-index: 43;
	width: 531px;
	height: 242px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1820
{
	z-index: 44;
	width: 461px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	padding: 42px 28px 44px 34px;
}

#u1821
{
	z-index: 45;
	width: 389px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1822-4
{
	z-index: 46;
	width: 389px;
	min-height: 31px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #F15A24;
	line-height: 35px;
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1819-4
{
	z-index: 50;
	width: 461px;
	min-height: 82px;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 27px;
	font-size: 18px;
	margin-top: 30px;
	position: relative;
}

#u1808
{
	z-index: 54;
	width: 133px;
	position: relative;
	margin-right: -10000px;
}

#u1809
{
	position: absolute;
	width: 133px;
	height: 132px;
}

#u1842
{
	z-index: 56;
	min-height: 712.6500000000002px;
	border-width: 1px;
	border-style: solid;
	border-color: #13A5FF;
	padding-bottom: 0px;
	background: #000000 url("../images/mac.jpg") no-repeat center center;
	background-size: cover;
}

#u1842_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1019px;
	position: relative;
	left: -100px;
	padding-top: 12px;
	padding-bottom: 85px;
}

#u1846
{
	z-index: 75;
	width: 229px;
	background-color: transparent;
	left: 493px;
	position: relative;
}

#u1843-4
{
	z-index: 71;
	width: 980px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 119px;
	margin-top: 30px;
	position: relative;
}

#u1845-6
{
	z-index: 61;
	width: 580px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 242px;
	margin-top: 30px;
	position: relative;
}

#u1845-2
{
	text-transform: uppercase;
}

#u1844-4
{
	z-index: 67;
	width: 175px;
	min-height: 35px;
	background-color: #F15A24;
	border-radius: 30px 0px 30px 0px ;
	padding-top: 5px;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 520px;
	margin-top: 86px;
	position: relative;
}

#u1844-4:hover
{
	background-color: #000000;
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 175px;
	margin: 86px 0px 0px;
}

#u1842-bw
{
	z-index: 56;
	min-height: 712.6500000000002px;
}

#u1841-4
{
	z-index: 57;
	width: 309px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 71px;
	text-align: right;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 717px;
	left: 489px;
}

#u1853
{
	z-index: 77;
	width: 422px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 463px;
	left: 798px;
}

#u1855
{
	z-index: 78;
	width: 422px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1856
{
	z-index: 79;
	width: 422px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1860
{
	z-index: 81;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 60px;
}

#u1864
{
	z-index: 83;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 298px;
}

#u1862
{
	z-index: 85;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 142px;
}

#u1858
{
	z-index: 87;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 142px;
}

#u1866
{
	z-index: 89;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 298px;
}

#u1854
{
	z-index: 91;
	width: 44px;
	height: 47px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 67px;
}

#u1849
{
	z-index: 92;
	width: 68px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1081px;
	left: 930px;
}

#u1883
{
	z-index: 93;
	width: 75px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1081px;
	left: 1008px;
}

#u1882
{
	z-index: 94;
	width: 63px;
	height: 20px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 975px;
}

#u1850
{
	z-index: 95;
	width: 61px;
	height: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
	left: 1014px;
}

#u1825
{
	z-index: 2;
	width: 678px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 204px;
	margin-top: 13px;
	position: relative;
}

#u1826
{
	z-index: 3;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 239px;
	position: relative;
}

#u1828
{
	z-index: 4;
	width: 80px;
	height: 1px;
	background-color: #020000;
	margin-left: 60px;
	position: relative;
}

#u1829
{
	z-index: 5;
	width: 120px;
	height: 1px;
	background-color: #020000;
	margin-left: 40px;
	margin-top: 7px;
	position: relative;
}

#u1827
{
	z-index: 6;
	width: 200px;
	height: 1px;
	background-color: #020000;
	margin-top: 8px;
	position: relative;
}

#u1830-4
{
	z-index: 11;
	width: 678px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u1831
{
	z-index: 7;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 239px;
	position: relative;
}

#u1832
{
	z-index: 10;
	width: 200px;
	height: 1px;
	background-color: #0F0500;
	-webkit-transform: matrix(-1,0,0,-1,200,1);
	-ms-transform: matrix(-1,0,0,-1,200,1);
	transform: matrix(-1,0,0,-1,200,1);
	position: relative;
}

#u1833
{
	z-index: 9;
	width: 120px;
	height: 1px;
	background-color: #0F0500;
	-webkit-transform: matrix(-1,0,0,-1,120,1);
	-ms-transform: matrix(-1,0,0,-1,120,1);
	transform: matrix(-1,0,0,-1,120,1);
	margin-left: 40px;
	margin-top: 7px;
	position: relative;
}

#u1834
{
	z-index: 8;
	width: 80px;
	height: 1px;
	background-color: #0F0500;
	-webkit-transform: matrix(-1,0,0,-1,80,1);
	-ms-transform: matrix(-1,0,0,-1,80,1);
	transform: matrix(-1,0,0,-1,80,1);
	margin-left: 60px;
	margin-top: 8px;
	position: relative;
}

#u1870
{
	z-index: 96;
	width: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 755px;
	top: -754px;
	margin-bottom: -78px;
	position: relative;
}

#u1876
{
	z-index: 97;
	width: 65px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1797,.ie #u1809,.ie #u1849,.ie #u1883,.ie #u1850,.ie #u1876
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1871
{
	z-index: 98;
	width: 57px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 4px;
}

#u1872
{
	z-index: 99;
	width: 42px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 29px;
	text-align: center;
	line-height: 35px;
	font-family: Adobe Myungjo Std M;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1874
{
	z-index: 100;
	width: 57px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF0000;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Adobe Myungjo Std M;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

