.version.home_pt /* version checker */
{
	color: #0000F6;
	background-color: #784599;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1080.523162440277px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu592-5
{
	width: 0.01px;
	margin-left: 19px;
}

#u592-5
{
	z-index: 86;
	width: 351px;
	min-height: 34px;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	text-align: left;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u592
{
	color: #F15A24;
}

#u635
{
	z-index: 78;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 881px;
}

#u635_img
{
	padding-bottom: 10px;
}

#u611
{
	z-index: 80;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 942px;
}

#u611_img
{
	padding-bottom: 18px;
}

#pu613
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u613
{
	z-index: 39;
	height: 591px;
	border-width: 1px;
	border-style: solid;
	border-color: #13A5FF;
	background: #000000 url("../images/mac.jpg") no-repeat center center;
	background-size: cover;
}

#u613-bw
{
	z-index: 39;
	margin-bottom: -1px;
	height: 593px;
}

#u619
{
	z-index: 40;
	min-height: 592px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
}

#u619-bw
{
	z-index: 40;
	min-height: 592px;
}

#u618-6
{
	z-index: 41;
	width: 732px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 423px;
	left: 242px;
}

#u618-2
{
	text-transform: uppercase;
}

#u610-4
{
	z-index: 47;
	width: 175px;
	min-height: 35px;
	background-color: #F15A24;
	border-radius: 30px 0px 30px 0px ;
	padding-top: 5px;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 517px;
	left: 522px;
}

#u610-4:hover
{
	background-color: #000000;
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 175px;
	margin: 517px -10000px 0px 0px;
}

#u642-4
{
	z-index: 51;
	width: 980px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 120px;
}

#u643
{
	z-index: 55;
	width: 229px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 494px;
}

#u621
{
	z-index: 20;
	min-height: 334px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
}

#u621_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 55px;
	padding-bottom: 95px;
}

#u626-4
{
	z-index: 21;
	width: 979px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 71px;
	text-align: center;
	text-transform: uppercase;
	font-size: 42px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 118px;
	position: relative;
}

#pu637
{
	width: 0.01px;
	left: 343px;
	margin-top: 34px;
	position: relative;
}

#u637
{
	z-index: 57;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u638
{
	z-index: 58;
	width: 46px;
	background-color: transparent;
	position: relative;
}

#u640-4
{
	z-index: 60;
	width: 46px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-size: 10px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-top: 1px;
	position: relative;
}

#u622
{
	z-index: 25;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u623
{
	z-index: 26;
	width: 46px;
	background-color: transparent;
	position: relative;
}

#u625-4
{
	z-index: 28;
	width: 46px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-size: 10px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-top: 1px;
	position: relative;
}

#u631
{
	z-index: 64;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u633
{
	z-index: 65;
	width: 46px;
	background-color: transparent;
	position: relative;
}

#u632-4
{
	z-index: 67;
	width: 46px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-size: 10px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-top: 1px;
	position: relative;
}

#u614
{
	z-index: 71;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 363px;
}

#u616
{
	z-index: 72;
	width: 46px;
	background-color: transparent;
	position: relative;
}

#u615-4
{
	z-index: 74;
	width: 46px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-size: 10px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-top: 1px;
	position: relative;
}

#u627
{
	z-index: 32;
	width: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u629
{
	z-index: 33;
	width: 46px;
	background-color: transparent;
	position: relative;
}

#u629_img
{
	padding-bottom: 11px;
}

#u628-4
{
	z-index: 35;
	width: 46px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-size: 10px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-top: 1px;
	position: relative;
}

#u621-bw
{
	z-index: 20;
	min-height: 334px;
}

#u600
{
	z-index: 12;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 386px;
	margin-top: 9px;
	position: relative;
}

#u601
{
	z-index: 13;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 75px;
	position: relative;
}

#u602
{
	z-index: 14;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u603
{
	z-index: 15;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	margin-top: 9px;
	position: relative;
}

#u641-4
{
	z-index: 82;
	width: 979px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u604
{
	z-index: 16;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 383px;
	margin-top: 9px;
	position: relative;
}

#u605
{
	z-index: 19;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	-webkit-transform: matrix(-1,0,0,-1,250,1);
	-ms-transform: matrix(-1,0,0,-1,250,1);
	transform: matrix(-1,0,0,-1,250,1);
	position: relative;
}

#u606
{
	z-index: 18;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	-webkit-transform: matrix(-1,0,0,-1,150,1);
	-ms-transform: matrix(-1,0,0,-1,150,1);
	transform: matrix(-1,0,0,-1,150,1);
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u607
{
	z-index: 17;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	-webkit-transform: matrix(-1,0,0,-1,100,1);
	-ms-transform: matrix(-1,0,0,-1,100,1);
	transform: matrix(-1,0,0,-1,100,1);
	margin-left: 75px;
	margin-top: 9px;
	position: relative;
}

#u594-7
{
	z-index: 2;
	width: 980px;
	min-height: 22px;
	border-style: none;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	top: -913px;
	margin-bottom: -22px;
	position: relative;
}

#u596
{
	z-index: 8;
	width: 11px;
	background-color: transparent;
}

#u596_img
{
	vertical-align: bottom;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

