.version.index /* version checker */
{
	color: #0000EC;
	background-color: #8A98FE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1592px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 27px;
	padding-bottom: 17px;
	width: 0.01px;
}

#u434-5
{
	z-index: 86;
	width: 383px;
	min-height: 34px;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: left;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-size: 25px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-left: 19px;
	position: relative;
}

#u434
{
	color: #F15A24;
}

#u394
{
	z-index: 73;
	min-height: 548.7500000000008px;
	padding-bottom: 0px;
	background: #000000 url("../images/disney.jpg") no-repeat center center;
	background-size: cover;
}

#u394_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 155px;
	padding-bottom: 105px;
}

#u397-4
{
	z-index: 82;
	width: 980px;
	min-height: 115px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 58px;
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 119px;
	position: relative;
}

#u395-4
{
	z-index: 74;
	width: 739px;
	min-height: 65px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	text-align: justify;
	text-transform: none;
	font-size: 21px;
	font-family: maven-pro, sans-serif;
	font-weight: 700;
	left: 243px;
	margin-top: 31px;
	position: relative;
}

#u396-4
{
	z-index: 78;
	width: 175px;
	min-height: 35px;
	background-color: #F15A24;
	border-radius: 30px 0px 30px 0px ;
	padding-top: 5px;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	left: 522px;
	margin-top: 30px;
	position: relative;
}

#u396-4:hover
{
	background-color: #000000;
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 175px;
	margin: 30px 0px 0px;
}

#u394-bw
{
	z-index: 73;
	min-height: 548.7500000000008px;
	margin-top: 1px;
}

#pu322
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u322
{
	z-index: 7;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 657px;
	left: 222px;
}

#u325
{
	z-index: 8;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 75px;
	position: relative;
}

#u324
{
	z-index: 9;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u323
{
	z-index: 10;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	margin-top: 9px;
	position: relative;
}

#u352
{
	z-index: 15;
	min-height: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #040000;
	padding-bottom: 206px;
}

#u352_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u353-4
{
	z-index: 16;
	width: 979px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 82px;
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 120px;
}

#u352-bw
{
	z-index: 15;
	min-height: 135px;
}

#u585
{
	z-index: 20;
	width: 485px;
	border-color: #7F7F7F;
	background-color: #F15A24;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 120px;
}

#u585_position_content
{
	padding-top: 22px;
	padding-bottom: 63px;
}

#u587-4
{
	z-index: 22;
	width: 485px;
	border-style: none;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 10px;
	font-family: Courier New, Courier, monospace;
	left: -1px;
	position: relative;
}

#u587-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 485px;
	margin: 0px;
}

#u587-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 485px;
	margin: 0px;
}

#u586
{
	z-index: 21;
	width: 200px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 200px;
	margin-left: 141px;
	margin-top: 21px;
	position: relative;
}

#u598
{
	z-index: 32;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u655
{
	z-index: 34;
	width: 253px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 115px;
	margin-top: 41px;
	position: relative;
}

#u594-4
{
	z-index: 35;
	width: 253px;
	min-height: 45px;
	background-color: #FFFFFF;
	border-radius: 49px;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	position: relative;
}

#u594-4:hover
{
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 253px;
	margin: 0px;
}

#u595-4
{
	z-index: 39;
	width: 253px;
	min-height: 45px;
	background-color: #FFFFFF;
	border-radius: 49px;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-top: 12px;
	position: relative;
}

#u596-4
{
	z-index: 43;
	width: 253px;
	min-height: 45px;
	background-color: #FFFFFF;
	border-radius: 49px;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-top: 12px;
	position: relative;
}

#u597-4
{
	z-index: 47;
	width: 253px;
	min-height: 45px;
	background-color: #FFFFFF;
	border-radius: 49px;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-top: 12px;
	position: relative;
}

#u595-4:hover,#u596-4:hover,#u597-4:hover
{
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 253px;
	margin: 12px 0px 0px;
}

#u590
{
	z-index: 26;
	width: 494px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 605px;
}

#u590_position_content
{
	padding-top: 22px;
	padding-bottom: 58px;
}

#u592-4
{
	z-index: 28;
	width: 494px;
	border-style: none;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	position: relative;
}

#u592-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 494px;
	margin: 0px;
}

#u592-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 494px;
	margin: 0px;
}

#u591
{
	z-index: 27;
	width: 200px;
	border-color: #FFFFFF;
	background-color: #D0D0D0;
	border-radius: 200px;
	padding-bottom: 7px;
	margin-left: 147px;
	margin-top: 21px;
	position: relative;
}

#u600
{
	z-index: 51;
	width: 177px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
}

#u618-4
{
	z-index: 68;
	width: 253px;
	min-height: 45px;
	background-color: #3D8299;
	border-radius: 49px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-left: 120px;
	margin-top: 40px;
	position: relative;
}

#u618-4:hover
{
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 253px;
	margin: 40px 0px 0px 120px;
}

#u616-4
{
	z-index: 63;
	width: 253px;
	min-height: 45px;
	background-color: #3D8299;
	border-radius: 49px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-left: 120px;
	margin-top: 13px;
	position: relative;
}

#u616-4:hover
{
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 253px;
	margin: 13px 0px 0px 120px;
}

#u613-4
{
	z-index: 57;
	width: 253px;
	min-height: 45px;
	background-color: #3D8299;
	border-radius: 49px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-left: 120px;
	margin-top: 12px;
	position: relative;
}

#u602-4
{
	z-index: 53;
	width: 253px;
	min-height: 45px;
	background-color: #3D8299;
	border-radius: 49px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-left: 120px;
	margin-top: 12px;
	position: relative;
}

#u613-4:hover,#u602-4:hover
{
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 253px;
	margin: 12px 0px 0px 120px;
}

#u594-4:hover p,#u595-4:hover p,#u596-4:hover p,#u597-4:hover p,#u618-4:hover p,#u616-4:hover p,#u613-4:hover p,#u602-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u594-2,#u595-2,#u596-2,#u597-2,#u618-2,#u616-2,#u613-2,#u602-2
{
	padding-top: 13px;
}

#u614
{
	z-index: 61;
	width: 35px;
	height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	left: 730px;
	background: transparent url("../images/twitter.png") no-repeat center center;
}

#u614:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 558px -10000px 0px 0px;
	background: #FF0000 url("../images/twitter.png") no-repeat center center;
}

#u615
{
	z-index: 62;
	width: 35px;
	height: 36px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 615px;
	left: 730px;
	background: transparent url("../images/untitled-2.png") no-repeat center center;
}

#u615:hover
{
	width: 35px;
	height: 36px;
	min-height: 0px;
	margin: 615px -10000px 0px 0px;
	background: #FF0000 url("../images/untitled-2.png") no-repeat center center;
}

#u617
{
	z-index: 67;
	width: 35px;
	height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 730px;
	background: transparent url("../images/skype.png") no-repeat center center;
}

#u617:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 501px -10000px 0px 0px;
	background: #FF0000 url("../images/skype.png") no-repeat center center;
}

#u657
{
	z-index: 72;
	width: 61px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 739px;
}

#u326
{
	z-index: 11;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 385px;
	margin-top: 44px;
	position: relative;
}

#u329
{
	z-index: 14;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	-webkit-transform: matrix(-1,0,0,-1,250,1);
	-ms-transform: matrix(-1,0,0,-1,250,1);
	transform: matrix(-1,0,0,-1,250,1);
	position: relative;
}

#u327
{
	z-index: 13;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	-webkit-transform: matrix(-1,0,0,-1,150,1);
	-ms-transform: matrix(-1,0,0,-1,150,1);
	transform: matrix(-1,0,0,-1,150,1);
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u328
{
	z-index: 12;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	-webkit-transform: matrix(-1,0,0,-1,100,1);
	-ms-transform: matrix(-1,0,0,-1,100,1);
	transform: matrix(-1,0,0,-1,100,1);
	margin-left: 75px;
	margin-top: 9px;
	position: relative;
}

#u201
{
	z-index: 2;
	height: 154px;
	background: transparent url("../images/bg2.jpg") no-repeat center center;
	background-size: cover;
}

#u201-bw
{
	z-index: 2;
	margin-top: 14px;
	height: 154px;
}

#u203-4
{
	z-index: 3;
	width: 980px;
	min-height: 22px;
	border-style: none;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	margin-left: 19px;
	margin-top: 24px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

